.botao {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 40px;
    padding: 29px;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.botao:hover {
    color: #95FFD4;
}